/*ARCHIVOS SCSS*/
@import 'var/variables.scss';
@import 'layout/grid';
@import 'layout/reset';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/areaTitulos';
@import 'components/iconoWpp';
@import 'components/imagenes';
@import 'components/cartas';
@import 'components/contenedores';
@import 'components/formulario';
@import 'components/mapa';
@import 'components/video';
@import 'components/mediaMobile';
@import 'components/mediaTablet';

/* FUENTES */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");

@font-face {
    font-family: "bebas";
    src: url("../medios/BebasNeue-Regular.ttf");
}

@font-face {
    font-family: "finish";
    src: url("../medios/fFinish.ttf");
}
