/*VARIANLES DE FUENTES*/
$fuenteTitulo: 900 6rem "bebas";
$colorTitulo: black;

$fuenteSubtitulo: 600 3rem "oswald";
$colorSubtitulo: black;

$fuenteFooter: 900 1.5rem "finish";
$colorFooter: red;

$textoCarta: 2.1rem "oswald";
$colorCarta: black;

$fuenteFormulario: 1.3rem "oswald";