h1{
    background-color: lightgray;
    margin: 1rem 1rem 2rem 1rem;
    grid-area: main;
    text-align: center; 
    font-size: 6rem; 
    font-weight: 900;
    font-family: "bebas";
    padding: 4rem 7rem 4rem 7rem;
}

h2{
    grid-area: main;
    text-align: center; 
    font-size: 3rem; 
    font-weight: 600;
    font-family: "oswald";
    margin-bottom: 2rem;
    padding: 5rem;
}