footer{
    grid-area: footer;
    background-color: orange;
    display: flex;
    justify-content: space-between;
    padding: 1rem
}

footer ul{
    display: flex;
    flex-direction: column;
}

footer ul li{
    list-style-type: none;
}

footer ul li a{
    color: #fd3a33; 
    text-decoration: none;
}

footer a{
    color: #fd3a33; 
    font-size: 1.5rem; 
    font-weight: 900; 
    text-decoration: none;
    font-family: "finish";
}

