@import '../var/variables.scss';

footer {
    grid-area: footer;
    background-color: orange;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    
    ul {
        display: flex;
        flex-direction: column;
        
        li {
            list-style-type: none;
            
            a {
                color: $colorFooter;
                text-decoration: none;
            }
        }
    }
    
    a {
        font: $fuenteFooter;
        color: $colorFooter;
        text-decoration: none;
    }
}
