@import '../var/variables.scss';

.menu{
    width: 100%;
    background-color: orange;
    border-bottom: 0.2rem solid yellow;
}

.listanav{
    flex-grow: 0;
}

.navbar-brand:hover{
    background-color: inherit;
}

header {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 1000;

    nav {
        ul {
            display: flex;
            margin-right: 1rem;
            
            li {
                list-style-type: none;
                
                a {
                    color: #fd3a33; 
                    text-decoration: none;
                    font-family: "finish";
                    background-color: yellow;
                    padding: 0.8rem;
                    border: solid red 1px;
                    border-radius: 12px;
                    
                    &:hover {
                        background-color: white;
                    }
                }
            }
        }
    }

    a img {
        width: 5.5rem;
        margin: 1rem 0 1rem 1rem;
    }
}