@import '../var/variables.scss';

.carta{
    background-color: lightslategray;
    margin: 1rem;
    border-radius: 14px;
    padding: 1rem;
    width: 50%;
    .texto_carta{
        font: $textoCarta;
        text-align: center;
        margin: 0.5rem;
    }
    
}

/*CARTA VIDEO INDEX*/
.cartaVideo{
    background-color: lightslategray;
    display: flex;
    justify-content: space-between;
    margin: 1rem 1rem 3rem 1rem;
    border-radius: 14px;
        .texto_carta_video{
            font: $textoCarta;
            text-align: center;
            margin: 0.5rem;
        }
        ul{
            list-style-type: none;
        }
        ul li p{
            font: $textoCarta;
            text-align: center;
            margin: 0.5rem;
        }
}

/*CARTAS PLANES*/
.card{
    border-radius: 14px;
    padding: 0rem; 
    margin: 0.5rem;
}

.bronce{
    background-color: burlywood ;
}

.plata{
    background-color: lightgray;
}

.oro{
    background-color: gold;
}

.diamante{
    background-color: aquamarine;
}         







